{% extends "base.html" %}

{% block pagenav %}
<h1 class="page-title">Settings</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('settings.chargeSettings') }}">Billing Charges</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ charge.code }}</li>
    </ol>
{% endblock pagenav %}

{% block content %}
<div class="">
    <a href="{{ url_for('settings.editCharge', id=charge.id) }}" class="btn btn-primary btn-icon text-white me-2">
        <span>
            <i class="fe fe-edit"></i>
        </span> Edit Charge
    </a>
</div>
<br>
<div class="row">
    <div class="col-lg-12"></div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {% if charge.status == 'Inactive' %}
                        {{ charge.code }} - {{ charge.name }} <span class="text-danger">({{ charge.status }})</span>
                    {% else %}
                        {{ charge.code }} - {{ charge.name }}
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <h5 class="mt-0 mb-4">Code:</h5>
                <p class="mb-6">{{ charge.code }}</p>
                <h5 class="mt-0 mb-4">Name:</h5>
                <p class="mb-6">{{ charge.name }}</p>
                <h5 class="mt-0 mb-4">Description:</h5>
                <p class="mb-6">{{ charge.description }}</p>
                <h5 class="mt-0 mb-4">Amount:</h5>
                <p class="mb-6">{{ "$ {:,.2f}".format(charge.amount) }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}