{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">View Event</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item" aria-current="page">
    <a href="{{ url_for('events.schedule') }}">Calendar</a>
  </li>
  <li class="breadcrumb-item active">View Event</li>
</ol>
{% endblock pagenav %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">View Event</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="eventTitle">Event Type</label>
              {% if event.event_name %}
              <input
                type="text"
                class="form-control"
                id="eventTitle"
                name="eventTitle"
                value="{{ event.event_name }}"
                readonly
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="eventTitle"
                name="eventTitle"
                value="Blocked Off Time"
                readonly
              />
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="practitioner">Practitioner</label>
              {% if event.practitioner_id %}
              <input
                type="text"
                class="form-control"
                id="practitioner"
                name="practitioner"
                value="{{ event.practitioner_first_name }} {{ event.practitioner_last_name }}"
                readonly
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="practitioner"
                name="practitioner"
                value=""
                readonly
              />
              {% endif %}
            </div>
          </div>
        </div>
        {% if event.person_id %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="person">Person</label>
              <input
                type="text"
                class="form-control"
                id="person"
                name="person"
                value="{{ event.person_first_name }} {{ event.person_last_name }} ({{event.gender_identity}})"
                readonly
              />
            </div>
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="eventStartDate">Event Start</label>
              {% if event.date %}
              <input
                type="text"
                class="form-control"
                id="eventStartDate"
                name="eventStartDate"
                value="{{ event.date.strftime('%A, %B %d, %Y') }}  {{ event.start_time.strftime('%I:%M %p') }}"
                readonly
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="eventStartDate"
                name="eventStartDate"
                value=""
                readonly
              />
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="eventEndTime">Event End</label>
              {% if event.date %}
              <input
                type="text"
                class="form-control"
                id="eventEndTime"
                name="eventEndTime"
                value="{{ event.date.strftime('%A, %B %d, %Y') }}  {{ event.end_time.strftime('%I:%M %p') }}"
                readonly
              />
              {% else %}
              <input
                type="text"
                class="form-control"
                id="eventEndTime"
                name="eventEndTime"
                value=""
                readonly
              />
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="eventDescription">Event Note</label>
              <input
                type="text"
                class="form-control"
                id="eventDescription"
                name="eventDescription"
                value="{{ event.note }}"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="">
          {% if event.event_name %}
          <a
            href="{{ url_for('events.editEvent', event_id=event.id) }}"
            class="btn btn-primary"
            >Edit Event</a
          >
          {% else %}
          <a
            href="{{ url_for('events.edit_blocked_off_time', event_id=event.id) }}"
            class="btn btn-primary"
            >Edit Blocked Off Time</a
          >
          {% endif %}
          <button type="button">
            <form
              action="{{ url_for('events.deleteEvent', event_id=event.id) }}"
              method="post"
            >
              <input
                type="submit"
                class="btn btn-danger"
                value="Delete Event"
              />
            </form>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
