<h1>Payment Receipt</h1>
<!-- Practice Info -->
<h2>Practice Information</h2>
<strong>{{ practice.name }}</strong>
<br />
{% if practice.address_2 == '' %} {{ practice.address_1 }}<br />{{ practice.city
}}, {{ practice.state }} {{ practice.zipcode }} {% else %} {{ practice.address_1
}}<br />{{ practice.address_2 }}<br />{{ practice.city }}, {{ practice.state }}
{{ practice.zipcode }} {% endif %}
<br />
({{ practice.phone_number[:3] }}) {{ practice.phone_number[3:6] }}-{{
practice.phone_number[6:10] }}
<br />
{{ practice.email }}
<br />
{{ practice.website }}
<br />
<br />
<!-- Person Info -->
<h2>Person Information</h2>
{% if person.middle_name == '' and person.suffix_name == '' %}
<strong>{{ person.first_name }} {{ person.last_name }}</strong>
{% elif person.suffix_name == '' %}
<strong
  >{{ person.first_name }} {{ person.middle_name }} {{ person.last_name
  }}</strong
>
{% else %}
<strong
  >{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
  {{person.suffix_name }}</strong
>
{% endif %}
<br />
{% if person.address_1 == None or person.address_1 == '' %}
<!-- no address -->
{% elif person.address_2 == None or person.address_2 == ''%} {{ person.address_1
}}, {{ person.city }}, {{ person.state }} {{ person.zipcode }} {% else %} {{
person.address_1 }}, {{ person.address_2 }}, {{ person.city }}, {{ person.state
}} {{ person.zipcode }} {% endif %}
<br />
({{ person.phone_number[:3] }}) {{ person.phone_number[3:6] }}-{{
person.phone_number[6:10] }} ({{ person.phone_type }})
<br />
{% if person.email == None or person.email == '' %}
<!-- no email-->
{% else %} {{ person.email }} {% endif %}
<br />
<br />
<h2>Payment Information</h2>
<strong>Date of Payment:</strong>
<br />
{{ payment.created_at.strftime('%A, %B %d, %Y') }}
<br />
<br />
<strong>Payment Method:</strong>
<br />
{{ payment.payment_method }} {% if payment.payment_method == 'Credit Card' %}
<br />
<strong>Credit Card Last Four:</strong>
<br />
{{ payment.credit_card_last_four }} {% endif %} {% if payment.payment_method ==
'Check' %}
<br />
<strong>Check Number:</strong>
<br />
{{ payment.check_number }} {% endif %}
<br />
<br />
<strong>Payment Amount:</strong>
<br />
{{ "$ {:,.2f}".format(payment.amount) }}
