{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Charges</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item" aria-current="page">Billing</li>
  <li class="breadcrumb-item active" aria-current="page">Charges</li>
</ol>
{% endblock pagenav %} {% block content %} {% include "base_billing_header.html"
%}
<!-- Start Add New Charge -->
<div class="">
  <a
    data-bs-target="#modalSelectPatient_Charge"
    data-bs-toggle="modal"
    href=""
    class="btn btn-primary btn-icon text-white me-2"
    id="addNewCharge"
  >
    <span>
      <i class="fe fe-plus"></i>
    </span>
    Add New Charge
  </a>
  <a
    data-bs-target="#modalSelectPatient_Payment"
    data-bs-toggle="modal"
    href=""
    class="btn btn-primary btn-icon text-white me-2"
    id="addNewPayment"
  >
    <span>
      <i class="fe fe-plus"></i>
    </span>
    Add New Payment
  </a>
</div>
<br />
<!-- End Add New Charge -->
<!-- Start Table of Recent Charges -->
<div class="row row-sm">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="card-title mb-1">Charges</h3>
          <p class="text-muted card-sub-title">
            List of charges for all the people you've seen at your practice.
          </p>
        </div>
        <div class="table-responsive">
          <table
            data-order='[[ 0, "desc" ]]'
            class="table table-bordered text-nowrap border-bottom w-100"
            id="responsive-datatable"
          >
            <thead>
              <tr>
                <th class="wd-15p border-bottom-0">Date</th>
                <th class="wd-15p border-bottom-0">Name</th>
                <th class="wd-15p border-bottom-0">
                  Charge Code & Description
                </th>
                <th class="wd-15p border-bottom-0">Charge Amount</th>
                <th class="wd-5p border-bottom-0">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for lc in ledger_charges %}
              <tr>
                <td>
                  {{ lc.created_at.strftime('%Y-%m-%d (%A, %B %d, %Y)') }}
                </td>
                <td>
                  <a
                    href="{{ url_for('persons.viewPerson', id=lc.person_id) }}"
                  >
                    {% if lc.middle_name == '' and lc.suffix_name == '' %} {{
                    lc.last_name }}, {{ lc.first_name }}
                    <span class="text-muted"> ({{lc.gender_identity}})</span> {%
                    elif lc.suffix_name == '' %} {{ lc.last_name }}, {{
                    lc.first_name }} {{ lc.middle_name }}
                    <span class="text-muted"> ({{lc.gender_identity}})</span> {%
                    else %} {{ lc.last_name }} {{ lc.suffix_name }}, {{
                    lc.first_name }} {{ lc.middle_name }}
                    <span class="text-muted"> ({{lc.gender_identity}})</span> {%
                    endif %}</a
                  >
                </td>
                <td>{{ lc.code }} - {{ lc.description }}</td>
                <td>
                  {{ "$ {:,.2f}".format((lc.unit_amount + (lc.unit_amount *
                  lc.tax_rate)) * lc.units) }}
                </td>
                <td>
                  <div class="btn-group">
                    <a href="#" class="btn btn-primary badge" type="button"
                      ><i class="fe fe-eye"></i> View</a
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Table of Recent Charges -->
<!-- Select/Add Patient - Charge -->
<div class="modal fade" id="modalSelectPatient_Charge">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Select Patient</h6>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h3 class="card-title mb-1">New Person</h3>
                  <p class="text-muted card-sub-title">
                    Create a new person before adding a new charge.
                  </p>
                  <div class="btn-group">
                    <a
                      href="{{ url_for('persons.addPerson')}}"
                      class="btn btn-primary badge"
                      type="button"
                      ><i class="fe fe-plus"></i> Create New Person</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h3 class="card-title mb-1">Existing Person</h3>
                  <p class="text-muted card-sub-title">
                    Create a new charge for an existing person.
                  </p>
                </div>
                <div class="table-responsive">
                  <table
                    class="table table-bordered text-nowrap border-bottom w-100"
                    id="basic-datatable"
                  >
                    <thead>
                      <tr>
                        <th class="wd-15p border-bottom-0">Name</th>
                        <th class="wd-15p border-bottom-0">Address</th>
                        <th class="wd-15p border-bottom-0">Phone Number</th>
                        <th class="wd-15p border-bottom-0">Email</th>
                        <th class="wd-15p border-bottom-0">Status</th>
                        <th class="wd-5p border-bottom-0">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in people %}
                      <tr>
                        <td>
                          {% if p.middle_name == '' and p.suffix_name == '' %}
                          {{ p.last_name }}, {{ p.first_name }} {% elif
                          p.suffix_name == '' %} {{ p.last_name }}, {{
                          p.first_name }} {{ p.middle_name }} {% else %} {{
                          p.last_name }} {{ p.suffix_name }}, {{ p.first_name }}
                          {{ p.middle_name }} {% endif %}
                        </td>
                        {% if p.address_1 == '' %}
                        <td></td>
                        {% else %}
                        <td>
                          {% if p.address_2 == '' %} {{ p.address_1 }}<br />{{
                          p.city }}, {{ p.state }} {{ p.zipcode }} {% else %} {{
                          p.address_1 }}<br />{{ p.address_2 }}<br />{{ p.city
                          }}, {{ p.state }} {{ p.zipcode }} {% endif %}
                        </td>
                        {% endif %}
                        <td>{{ p.phone_number }} ({{ p.phone_type }})</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.status }}</td>
                        <td>
                          <div class="btn-group">
                            <a
                              href="{{ url_for('billing.addLedgerCharge', id=p.id) }}"
                              class="btn btn-primary badge"
                              type="button"
                              ><i class="fe fe-plus"></i> Add New Charge</a
                            >
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Select/Add Patient - Charge -->
<!-- Select/Add Patient - Payment -->
<div class="modal fade" id="modalSelectPatient_Payment">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Select Patient</h6>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h3 class="card-title mb-1">New Person</h3>
                  <p class="text-muted card-sub-title">
                    Create a new person before adding a new charge.
                  </p>
                  <div class="btn-group">
                    <a
                      href="{{ url_for('persons.addPerson')}}"
                      class="btn btn-primary badge"
                      type="button"
                      ><i class="fe fe-plus"></i> Create New Person</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div>
                  <h3 class="card-title mb-1">Existing Person</h3>
                  <p class="text-muted card-sub-title">
                    Create a new charge for an existing person.
                  </p>
                </div>
                <div class="table-responsive">
                  <table
                    class="table table-bordered text-nowrap border-bottom w-100"
                    id="basic-datatable"
                  >
                    <thead>
                      <tr>
                        <th class="wd-15p border-bottom-0">Name</th>
                        <th class="wd-15p border-bottom-0">Address</th>
                        <th class="wd-15p border-bottom-0">Phone Number</th>
                        <th class="wd-15p border-bottom-0">Email</th>
                        <th class="wd-15p border-bottom-0">Status</th>
                        <th class="wd-5p border-bottom-0">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in people %}
                      <tr>
                        <td>
                          {% if p.middle_name == '' and p.suffix_name == '' %}
                          {{ p.last_name }}, {{ p.first_name }} {% elif
                          p.suffix_name == '' %} {{ p.last_name }}, {{
                          p.first_name }} {{ p.middle_name }} {% else %} {{
                          p.last_name }} {{ p.suffix_name }}, {{ p.first_name }}
                          {{ p.middle_name }} {% endif %}
                        </td>
                        {% if p.address_1 == '' %}
                        <td></td>
                        {% else %}
                        <td>
                          {% if p.address_2 == '' %} {{ p.address_1 }}<br />{{
                          p.city }}, {{ p.state }} {{ p.zipcode }} {% else %} {{
                          p.address_1 }}<br />{{ p.address_2 }}<br />{{ p.city
                          }}, {{ p.state }} {{ p.zipcode }} {% endif %}
                        </td>
                        {% endif %}
                        <td>{{ p.phone_number }} ({{ p.phone_type }})</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.status }}</td>
                        <td>
                          <div class="btn-group">
                            <a
                              href="{{ url_for('billing.addLedgerPayment', id=p.id) }}"
                              class="btn btn-primary badge"
                              type="button"
                              ><i class="fe fe-plus"></i> Add New Payment</a
                            >
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Select/Add Patient - Payment -->
{% endblock content %}
