{%extends "base.html"%} {%block pagenav%}
<div id="page-header">
  <h1 class="page-title">Invoice</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{url_for('billing.ledger')}}">Billing</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{url_for('billing.balance')}}">Balance</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Invoice</li>
  </ol>
</div>
{%endblock pagenav%} {%block content%}
<!-- Patient Info -->
<div class="row" id="user-profile">
  <div class="col-lg-12">
    <div class="card">{%include "base_person_header.html"%}</div>
  </div>
</div>
<!-- End Patient Info -->
<!-- Start Totals -->
<div id="invoice">
  <div class="row mb-4" id="patient-totals">
    <!-- Start Charges -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card service">
        <div class="card-body">
          <div class="item-box text-center">
            <div class="text-center mb-4 text-primary">
              <i class="ion-card"></i>
            </div>
            <div class="item-box-wrap">
              <h5 class="mb-2">Total Charges</h5>
              <h3 class="mb-0">{{ "$ {:,.2f}".format(total_charges) }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Charges -->
    <!-- Start Payments -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card service">
        <div class="card-body">
          <div class="item-box text-center">
            <div class="text-center mb-4 text-success">
              <i class="ion-cash"></i>
            </div>
            <div class="item-box-wrap">
              <h5 class="mb-2">Total Payments</h5>
              {% if total_payments %}
              <h3 class="mb-0">{{ "$ {:,.2f}".format(total_payments) }}</h3>
              {% else %}
              <h3 class="mb-0">$ 0.00</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Payments -->
    <!-- Start Payments -->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="card service">
        <div class="card-body">
          <div class="item-box text-center">
            <div class="text-center text-danger mb-4">
              <i class="fe fe-dollar-sign"></i>
            </div>
            <div class="item-box-wrap">
              <h5 class="mb-2">Total Balance</h5>
              <h3 class="mb-0">{{ "$ {:,.2f}".format(balance) }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Payments -->
  </div>
  <!-- End Totals -->

  <!-- Start Invoice -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-start">
              <h3 class="card-title mb-0">Invoice</h3>
            </div>
            <div class="float-end">
              <h3 class="card-title">
                Invoice Date: {{ current_date.strftime('%A, %B %d, %Y') }}
              </h3>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-6">
              <p class="h3">Invoice Form:</p>
              <address>
                {{practice.name}}<br />
                {{practice.address_1}}<br />
                {{practice.address_2}}<br />
                {{practice.city}}, {{practice.state}} {{practice.zipcode}}<br />
                ({{ practice.phone_number[:3] }}) {{ practice.phone_number[3:6]
                }}-{{ practice.phone_number[6:10] }}<br />
                {{practice.email}}
              </address>
            </div>
            <div class="col-md-6 text-end">
              <p class="h3">Invoice To:</p>
              <address>
                {% if person.middle_name == '' and person.suffix_name == '' %}
                {{ person.last_name }}, {{ person.first_name }}
                <span class="text-muted"> ({{person.gender_identity}})</span> {%
                elif person.suffix_name == '' %} {{ person.last_name }}, {{
                person.first_name }} {{ person.middle_name }}
                <span class="text-muted"> ({{person.gender_identity}})</span> {%
                else %} {{ person.last_name }} {{ person.suffix_name }}, {{
                person.first_name }} {{ person.middle_name }}
                <span class="text-muted"> ({{person.gender_identity}})</span> {%
                endif %}<br />
                {{person.address_1}}<br />
                {{person.address_2}}<br />
                {{person.city}}, {{person.state}} {{person.zipcode}}<br />
                ({{ person.phone_number[:3] }}) {{ person.phone_number[3:6]
                }}-{{ person.phone_number[6:10] }}<br />
                {{person.email}}
              </address>
            </div>
          </div>
          <div class="table-responsive push mt-4">
            <table
              data-order='[[ 0, "desc"]]'
              class="table table-bordered table-hover mb-0"
              id="invoice-table"
            >
              <tbody>
                <tr>
                  <th>Date</th>
                  <th>Type (Charge/Payment)</th>
                  <th>Item</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-end">Unit Price</th>
                  <th class="text-end">Sub Total</th>
                </tr>
                {% for charge in ledger_charges %}
                <tr>
                  <td>{{charge.created_at.strftime('%Y-%m-%d')}}</td>
                  <td>Charge</td>
                  <td>
                    <p class="mb-1">{{charge.name}}</p>
                    <div class="text-muted">
                      <div class="text-muted">{{charge.description}}</div>
                    </div>
                  </td>
                  <td class="text-center">{{charge.units}}</td>
                  <td class="text-end">
                    {{"$ {:,.2f}".format(charge.unit_amount)}}
                  </td>
                  <td class="text-end">
                    {{"$ {:,.2f}".format((charge.unit_amount +
                    (charge.unit_amount * charge.tax_rate)) * charge.units)}}
                  </td>
                </tr>
                {% endfor %} {% for payment in ledger_payments %}
                <tr>
                  <td>{{payment.created_at.strftime('%Y-%m-%d')}}</td>
                  <td>Payment</td>
                  <td>
                    <p class="mb-1">{{payment.payment_method}}</p>
                    <div class="text-muted">
                      <div class="text-muted">
                        {% if payment.check_number %} {{payment.check_number}}
                        {% elif payment.credit_card_last_four %}
                        {{payment.credit_card_last_four}} {% endif %}
                      </div>
                    </div>
                  </td>
                  <td class="text-center"></td>
                  <td class="text-end"></td>
                  <td class="text-end">
                    {{"$ {:,.2f}".format(payment.amount)}}
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td colspan="5" class="fw-bold text-uppercase text-end">
                    Total
                  </td>
                  <td class="fw-bold text-end h4">
                    {{"$ {:,.2f}".format(balance)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Invoice -->
<!-- Start Buttons -->
<div id="invoice-buttons" class="mb-4">
  <a
    href="{{ url_for('billing.addLedgerPayment', id=person.id) }}"
    class="btn btn-primary mb-1"
    ><i class="si si-wallet"></i> Pay Invoice</a
  >
  {% if person.email %}
  <a href="#" class="btn btn-success mb-1"
    ><i class="si si-paper-plane"></i> Email Invoice</a
  >
  {% endif %}
  <button type="button" class="btn btn-info mb-1" id="print-invoice-button">
    <i class="si si-printer"></i> Print Invoice
  </button>
</div>
<!-- End Buttons -->
<script>
  // Function to hide elements when printing
  function hideOnPrint() {
    var buttons = document.getElementById("invoice-buttons");
    var patientTotals = document.getElementById("patient-totals");
    var pageHeader = document.getElementById("page-header");
    var userProfile = document.getElementById("user-profile");
    buttons.style.display = "none";
    patientTotals.style.display = "none";
    pageHeader.style.display = "none";
    userProfile.style.display = "none";
  }

  // Add event listener to "Print Invoice" button
  var printButton = document.querySelector("#print-invoice-button");
  printButton.addEventListener("click", function () {
    hideOnPrint();
    window.print();
    location.reload();
  });

  // Sort table rows by Date column in ascending order
  function sortTableByDate() {
    var table = document.getElementById("invoice-table");
    var tbody = table.getElementsByTagName("tbody")[0];
    var rows = [].slice.call(tbody.rows); // Convert rows NodeList to an array

    rows.sort(function (a, b) {
      var dateA = new Date(a.cells[0].textContent.trim());
      var dateB = new Date(b.cells[0].textContent.trim());

      return dateA - dateB; // Sort in ascending order
    });

    for (var i = 0; i < rows.length; i++) {
      tbody.appendChild(rows[i]);
    }
  }

  // Call the sorting function when the page loads
  window.addEventListener("DOMContentLoaded", sortTableByDate);
</script>

{%endblock content%}
