<h1>Payment Receipt</h1>
<!-- Practice Info -->
<h2>Practice Information</h2>
<strong>{{ practice.name }}</strong>
<br />
{% if practice.address_2 == '' %} {{ practice.address_1 }}<br />{{ practice.city
}}, {{ practice.state }} {{ practice.zipcode }} {% else %} {{ practice.address_1
}}<br />{{ practice.address_2 }}<br />{{ practice.city }}, {{ practice.state }}
{{ practice.zipcode }} {% endif %}
<br />
{{ practice.phone_number }}
<br />
{{ practice.email }}
<br />
{{ practice.website }}
<br />
<br />
<!-- Person Info -->
<h2>Person Information</h2>
{% if person.middle_name == '' and person.suffix_name == '' %}
<strong>{{ person.first_name }} {{ person.last_name }}</strong>
{% elif person.suffix_name == '' %}
<strong
  >{{ person.first_name }} {{ person.middle_name }} {{ person.last_name
  }}</strong
>
{% else %}
<strong
  >{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
  {{person.suffix_name }}</strong
>
{% endif %}
<br />
{% if person.address_1 == None or person.address_1 == '' %}
<!-- no address -->
{% elif person.address_2 == None or person.address_2 == ''%} {{ person.address_1
}}, {{ person.city }}, {{ person.state }} {{ person.zipcode }} {% else %} {{
person.address_1 }}, {{ person.address_2 }}, {{ person.city }}, {{ person.state
}} {{ person.zipcode }} {% endif %} {{ person.phone_number }} ({{
person.phone_type }})
<br />
{% if person.email == None or person.email == '' %}
<!-- no email-->
{% else %} {{ person.email }} {% endif %}
<br />
<br />
<h2>Payment Receipt</h2>
<h3>Date of Payment:</h3>
{{ payment.created_at.strftime('%A, %B %d, %Y') }}
<h3>Payment Method:</h3>
{{ payment.payment_method }}
<h3>Payment Amount:</h3>
{{ "$ {:,.2f}".format(payment.amount) }}
