{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Add Visit Notes</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ url_for('billing.ledger') }}">Billing</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Add New Charge</li>
</ol>
{% endblock pagenav %} {% block content %}
<!-- Patient Info -->
<div class="row" id="user-profile">
  <div class="col-lg-12">
    <div class="card">{% include "base_person_header.html" %}</div>
  </div>
</div>
<!-- End Patient Info -->
<!-- Add Charge -->
<div class="row" id="add-charge">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Charge</h4>
      </div>
      <div class="card-body">
        <form method="post" class="" novalidate>
          {{ form.hidden_tag() }}
          <div class="">
            <div class="row">
              {{ form.charge_id.label }}{{ form.charge_id(class="form-control",
              id="charge_id") }} {{ form.unit_amount.label }}{{
              form.unit_amount(class="form-control", id="unit_amount") }} {{
              form.units.label }}{{ form.units(class="form-control",
              id="charge_units") }} {{ form.tax_rate.label }}{{
              form.tax_rate(class="form-control", id="tax_rate") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Charge -->
{% endblock content %}
