{% block person_header %}
<div class="card-body">
  <div class="wideget-user">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xl-6">
        <div class="wideget-user-desc d-sm-flex">
          <div class="wideget-user-img">
            <img
              class=""
              src="{{ url_for('static', filename='profile_pics/' + person_header.profile_image) }}"
              alt="img"
            />
          </div>
          <div class="user-wrap">
            <h4>
              {% if person_header.status == 'Inactive' %} {% if
              person_header.middle_name == '' and person_header.suffix_name ==
              '' %} {{ person_header.first_name }} {{ person_header.last_name }}
              <span class="text-danger">({{ person_header.status }})</span>
              {% elif person_header.suffix_name == '' %} {{
              person_header.first_name }} {{ person_header.middle_name }} {{
              person_header.last_name }}
              <span class="text-muted"
                >({{person_header.gender_identity}})</span
              >
              {% else %} {{ person_header.first_name }} {{
              person_header.middle_name }} {{ person_header.last_name }} {{
              person_header.suffix_name }}
              <span class="text-muted"
                >({{person_header.gender_identity}})</span
              >
              {% endif %} {% else %} {% if person_header.middle_name == '' and
              person_header.suffix_name == '' %} {{ person_header.first_name }}
              {{ person_header.last_name }}
              <span class="text-muted"
                >({{person_header.gender_identity}})</span
              >
              {% elif person_header.suffix_name == '' %} {{
              person_header.first_name }} {{ person_header.middle_name }} {{
              person_header.last_name }}
              <span class="text-muted"
                >({{person_header.gender_identity}})</span
              >
              {% else %} {{ person_header.first_name }} {{
              person_header.middle_name }} {{ person_header.last_name }} {{
              person_header.suffix_name }}
              <span class="text-muted"
                >({{person_header.gender_identity}})</span
              >
              {% endif %} {% endif %}
            </h4>
            <h6 class="text-muted mb-3">
              {% if person_header.address_1 == None or person_header.address_1
              == '' %}
              <span></span>
              {% elif person_header.address_2 == None or person_header.address_2
              == ''%}
              <i class="fe fe-home"></i> Address:
              <br />
              {{ person_header.address_1 }}
              <br />
              {{ person_header.city }}, {{ person_header.state }} {{
              person_header.zipcode }} {% else %}
              <i class="fe fe-home"></i> Address:
              <br />
              {{ person_header.address_1 }}
              <br />
              {{ person_header.address_2 }}
              <br />
              {{ person_header.city }}, {{ person_header.state }} {{
              person_header.zipcode }} {% endif %}
            </h6>
            <h6 class="text-muted mb-3">
              <i class="fe fe-phone"></i> Phone:
              <br />
              ({{ person_header.phone_number[:3] }}) {{
              person_header.phone_number[3:6] }}-{{
              person_header.phone_number[6:10] }} ({{ person_header.phone_type
              }})
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xl-6">
        <div class="text-xl-right mt-4 mt-xl-0">
          <a
            href="{{ url_for('persons.editPerson', id=person_header.id) }}"
            class="btn btn-primary"
            ><i class="fe fe-edit"></i> Edit Profile</a
          >
        </div>
        <div class="mt-5">
          <div class="main-profile-contact-list float-md-end d-lg-flex">
            <div class="me-5">
              <div class="media">
                <div class="media-icon bg-primary me-3 mt-1">
                  <i class="fe fe-edit-3 fs-20 text-white"></i>
                </div>
                <div class="media-body">
                  <span class="text-muted">Visit Notes</span>
                  <div class="fw-semibold fs-25">{{ notes_count }}</div>
                </div>
              </div>
            </div>
            <div class="me-5 mt-5 mt-md-0">
              <div class="media">
                <div class="media-icon bg-secondary me-3 mt-1">
                  <i class="fe fe-calendar fs-20 text-white"></i>
                </div>
                <div class="media-body">
                  <span class="text-muted">Appointments</span>
                  <div class="fw-semibold fs-25">{{ events_count }}</div>
                </div>
              </div>
            </div>
            <div class="me-5 mt-5 mt-md-0">
              <div class="media">
                <div class="media-icon bg-success me-3 mt-1">
                  <i class="fe fe-credit-card fs-20 text-white"></i>
                </div>
                <div class="media-body">
                  <span class="text-muted">Open Balance</span>
                  <div class="fw-semibold fs-25">
                    {{ "$ {:,.2f}".format(balance) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock person_header %}
