{% extends "base_support.html" %}

{% block title %}SoulStone - Support App{% endblock %}

{% block pagenav %}
<h1 class="page-title">Support</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/support">Support</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add New Items</li>
    </ol>
{% endblock %}

{% block content %}
<div class="">
    <a href="/support/add_practice" class="btn btn-primary btn-icon text-white me-2">
        <span>
            <i class="fe fe-plus"></i>
        </span> Add New Practice
    </a>
</div>
<br>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h3 class="card-title mb-1">Practices</h3>
                    <p class="text-muted card-sub-title">List of active practices using SoulStone.</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Practice Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for practice in practices %}
                            <tr>
                                <td>{{ practice.id }}</td>
                                <td>{{ practice.name }}</td>
                                <td>
                                    {% if practice.address_2 == '' %}
                                        {{ practice.address_1 }}<br>{{ practice.city }}, {{ practice.state }} {{ practice.zipcode }}
                                    {% else %}
                                        {{ practice.address_1 }}<br>{{ practice.address_2 }}<br>{{ practice.city }}, {{ practice.state }} {{ practice.zipcode }}
                                    {% endif %}
                                </td>
                                <td>{{ practice.email }}</td>
                                <td>{{ practice.phone_number }}</td>
                                <td>{{ practice.status }}</td>
                                <td>
                                    <a href="/support/{{practice.id}}">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
</div>
{% endblock %}