{% extends "base_login.html" %}

{% block form %}
<form method="post" class="login100-form" novalidate>
	<div class="text-center">
		<img src="{{ url_for('static', filename='assets/images/brand/logo.png') }}" class="header-brand-img" alt="">
	</div>
	<br>
	<span class="login100-form-title">
		Forgot Password
	</span>
	<div class="form-group">
		{{ form.email.label() }}
		{% if form.email.errors %}
			{{ form.email(class="form-control is-invalid") }}
				{% for error in form.email.errors %}
					<div class="invalid-feedback">{{ error }}</div>
				{% endfor %}
		{% else %}
			{{ form.email(class="form-control") }}
		{% endif %}
	</div>
	{{ form.submit(class="login100-form-btn btn-primary") }}
</form>
{% endblock form %}