{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Calendar</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Calendar</li>
</ol>
{% endblock pagenav %} {% block content %}
<!-- Start Add Event Link -->
<div class="">
  <a
    href="{{ url_for('calendar.addEvent')}}"
    class="btn btn-primary btn-icon text-white me-2"
  >
    <span>
      <i class="fe fe-calendar"></i>
    </span>
    Add New Event
  </a>
</div>
<br />
<!-- End Add Event Link -->
<!-- Start FULL CALENDAR -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Calendar -->
<!-- Start Events JSON -->
<script type="text/javascript">
  var cEvents = {{ events | tojson }};

  document.addEventListener("DOMContentLoaded", function() {
    var calendarEl = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listDay'
        },
      views: {
          dayGridMonth: { buttonText: 'month' },
          timeGridWeek: { buttonText: 'week' },
          timeGridDay: { buttonText: 'day' },
          listDay: { buttonText: 'list' }
        },
        initialView: 'timeGridDay',
      navLinks: true, // can click day/week names to navigate views
      dayMaxEvents: true, // allow "more" link when too many events
      events: cEvents,
    });
    calendar.render();
  });
</script>
<!-- End Events JSON -->
{% endblock content %}
