<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- META DATA -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Soulstone - Electronic Health Records for Spiritual Healers"
    />
    <meta name="author" content="Soulstone Contributors" />
    <meta
      name="keywords"
      content="soulstone, spiritual, health records, alternative medicine, holistic"
    />

    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='assets/images/brand/favicon.ico') }}"
    />

    <!-- TITLE -->
    <title>{{ title }}</title>

    <!-- BOOTSTRAP CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- STYLE CSS -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/css/dark-style.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/css/skin-modes.css') }}"
      rel="stylesheet"
    />

    <!-- SIDE-MENU CSS -->
    <link
      href="{{ url_for('static', filename='assets/css/sidemenu.css') }}"
      rel="stylesheet"
      id="sidemenu-theme"
    />

    <!--C3 CHARTS CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/charts-c3/c3-chart.css') }}"
      rel="stylesheet"
    />

    <!-- P-scroll bar css-->
    <link
      href="{{ url_for('static', filename='assets/plugins/p-scroll/perfect-scrollbar.css') }}"
      rel="stylesheet"
    />

    <!--- FONT-ICONS CSS -->
    <link
      href="{{ url_for('static', filename='assets/css/icons.css') }}"
      rel="stylesheet"
    />

    <!-- SIDEBAR CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/sidebar/sidebar.css') }}"
      rel="stylesheet"
    />

    <!-- SELECT2 CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/select2/select2.css') }}"
      rel="stylesheet"
    />

    <!-- SINGLE-PAGE CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/single-page/css/main.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- DATA TABLE CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/datatable/css/dataTables.bootstrap5.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/plugins/datatable/css/buttons.bootstrap5.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/plugins/datatable/responsive.bootstrap5.css') }}"
      rel="stylesheet"
    />

    <!-- FULL CALENDAR CSS -->
    <link
      href="{{ url_for('static', filename='assets/plugins/fullcalendar/fullcalendar.css') }}"
      rel="stylesheet"
    />

    <!-- COLOR SKIN CSS -->
    <link
      id="theme"
      rel="stylesheet"
      type="text/css"
      media="all"
      href="{{ url_for('static', filename='assets/colors/color1.css') }}"
    />
  </head>

  <body class="app sidebar-mini dark-mode">
    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
      <img
        src="{{ url_for('static', filename='assets/images/loader.svg') }}"
        class="loader-img"
        alt="Loader"
      />
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
      <div class="page-main">
        {% include 'app_sidebar.html' %} {% include 'mobile_header.html' %}

        <!--app-content open-->
        <div class="app-content">
          {% include 'banners.html' %}
          <div class="side-app">
            <!-- PAGE-HEADER -->
            <div class="page-header">
              <div>
                {% block pagenav %}
                <h1 class="page-title">Dashboard</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    Dashboard
                  </li>
                </ol>
                {% endblock pagenav %}
              </div>
            </div>
            <!-- PAGE-HEADER END -->
            {% block content %}{% endblock content %}
          </div>
          <!-- CONTAINER CLOSED -->
        </div>
      </div>

      {% include 'right_sidebar.html' %} {% include 'footer.html' %}
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- SIDE-MENU JS -->
    <script src="{{ url_for('static', filename='assets/plugins/sidemenu/sidemenu.js') }}"></script>

    <!-- SIDEBAR JS -->
    <script src="{{ url_for('static', filename='assets/plugins/sidebar/sidebar.js') }}"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="{{ url_for('static', filename='assets/plugins/p-scroll/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/p-scroll/pscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/p-scroll/pscroll-1.js') }}"></script>

    <!-- CHARTJS JS-->
    <script src="{{ url_for('static', filename='assets/plugins/chart/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/chart/utils.js') }}"></script>

    <!-- SELECT2 JS -->
    <script src="{{ url_for('static', filename='assets/plugins/select2/select2.full.js') }}"></script>

    <!-- DATA TABLE JS-->
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/dataTables.bootstrap5.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/buttons.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/js/buttons.colVis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/datatable/responsive.bootstrap5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/table-data.js') }}"></script>

    <!-- FULL CALENDAR JS -->
    <script src="{{ url_for('static', filename='assets/plugins/fullcalendar/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/fullcalendar/fullcalendar.min.js') }}"></script>

    <!-- CUSTOM JS-->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  </body>
</html>
