{%extends "base.html"%} {%block pagenav%}
<h1 class="page-title">Edit Visit Notes</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{url_for('visit_notes.notes')}}">Visit Notes</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Edit Visit Note</li>
</ol>
{%endblock pagenav%} {%block content%}
<!-- Patient Info Header -->
<div class="row" id="user-profile">
  <div class="col-lg-12">
    <div class="card">{%include "base_person_header.html"%}</div>
  </div>
</div>
<!-- End Patient Info Header -->
<!--Visit Note Form-->
<form method="post" class="" novalidate>
  {{form.hidden_tag()}}
  <div class="row">
    <div>
      {{form.submit(class="btn btn-primary mb-5")}}
      <a
        href="{{url_for('visit_notes.changeStatus', visit_note_id=note.id)}}"
        class="btn btn-secondary mb-5"
        >Change Visit Note Status</a
      >
      <a
        href="{{ url_for('visit_notes.changeStatusDelete', visit_note_id=note.id) }}"
        class="btn btn-danger mb-5"
        >Delete Visit Note</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-bottom-0">
          <div class="card-title">Visit Information</div>
        </div>
        <div class="card-body">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <!-- Date of Service -->
                <div class="form-group mb-6">
                  {{form.date_of_service.label()}} {%if
                  form.date_of_service.errors%}
                  {{form.date_of_service(class="form-control is-invalid")}}
                  {%for error in form.date_of_service.errors %}
                  <div class="invalid-feedback">{{error}}</div>
                  {%endfor%} {%else%}
                  {{form.date_of_service(class="form-control")}} {%endif%}
                </div>
              </div>
              <div class="col-md-6">
                <!-- Reason for Visit -->
                <div class="form-group mb-6">
                  {{form.reason_for_visit.label()}}
                  {{form.reason_for_visit(class="form-control")}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header border-bottom-0">
          <div class="card-title">Chakra Assessment</div>
        </div>
        <div class="card-body">
          <div class="">
            <!-- Chakra Assessment -->
            <!-- Root Chakra -->
            <div class="form-group">
              {{form.chakra_assessment_root_score.label()}}
              {{form.chakra_assessment_root_score(class="form-control
              form-select")}}
            </div>
            <div class="form-group mb-6">
              {{form.chakra_assessment_root_description.label()}}
              {{form.chakra_assessment_root_description(class="form-control")}}
            </div>
            <!-- Sacral Chakra -->
            <div class="form-group">
              {{form.chakra_assessment_sacral_score.label()}}
              {{form.chakra_assessment_sacral_score(class="form-control
              form-select")}}
            </div>
            <div class="form-group mb-6">
              {{form.chakra_assessment_sacral_description.label()}}
              {{form.chakra_assessment_sacral_description(class="form-control")}}
            </div>
            <!-- Solar Plexus Chakra -->
            <div class="form-group">
              {{form.chakra_assessment_solar_plexus_score.label()}}
              {{form.chakra_assessment_solar_plexus_score(class="form-control
              form-select")}}
              <div class="form-group mb-6">
                {{form.chakra_assessment_solar_plexus_description.label()}}
                {{form.chakra_assessment_solar_plexus_description(class="form-control")}}
              </div>
              <!-- Heart Chakra -->
              <div class="form-group">
                {{form.chakra_assessment_heart_score.label()}}
                {{form.chakra_assessment_heart_score(class="form-control
                form-select")}}
              </div>
              <div class="form-group mb-6">
                {{form.chakra_assessment_heart_description.label()}}
                {{form.chakra_assessment_heart_description(class="form-control")}}
              </div>
              <!-- Throat Chakra -->
              <div class="form-group">
                {{form.chakra_assessment_throat_score.label()}}
                {{form.chakra_assessment_throat_score(class="form-control
                form-select")}}
              </div>
              <div class="form-group mb-6">
                {{form.chakra_assessment_throat_description.label()}}
                {{form.chakra_assessment_throat_description(class="form-control")}}
              </div>
              <!-- Third-Eye Chakra -->
              <div class="form-group">
                {{form.chakra_assessment_third_eye_score.label()}}
                {{form.chakra_assessment_third_eye_score(class="form-control
                form-select")}}
              </div>
              <div class="form-group mb-6">
                {{form.chakra_assessment_third_eye_description.label()}}
                {{form.chakra_assessment_third_eye_description(class="form-control")}}
              </div>
              <!-- Crown Chakra -->
              <div class="form-group">
                {{form.chakra_assessment_crown_score.label()}}{{form.chakra_assessment_crown_score(class="form-control
                form-select")}}
              </div>
              <div class="form-group mb-6">
                {{form.chakra_assessment_crown_description.label()}}
                {{form.chakra_assessment_crown_description(class="form-control")}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="card">
          <div class="card-header border-bottom-0">
            <div class="card-title">Chakra Assessment - Graph</div>
          </div>
          <div class="card-body">
            <!-- Chakra Assessment Graph -->
            <div class="chart-container">
              <canvas id="caGraph" class="h-275"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header border-bottom-0">
            <div class="card-title">Visit Notes</div>
          </div>
          <div class="card-body">
            <div class="">
              <!-- Practicioner Note -->
              <div class="form-group">
                {{form.visit_notes.label()}}
                {{form.visit_notes(class="form-control")}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-header border-bottom-0">
            <div class="card-title">Post Visit Recommendations</div>
          </div>
          <div class="card-body">
            <div class="">
              <!-- Post Visit Recommendations -->
              <div class="form-group">
                {{form.post_visit_recommendations.label()}}
                {{form.post_visit_recommendations(class="form-control")}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{form.submit(class="btn btn-primary mb-5")}}
</form>
<!-- End Visit Note Form -->
<!-- Load CKEditor -->
{{ ckeditor.load(pkg_type="basic") }} {{
ckeditor.config(name="reason_for_visit") }} {{
ckeditor.config(name="chakra_assessment_root_description") }} {{
ckeditor.config(name="chakra_assessment_sacral_description") }} {{
ckeditor.config(name="chakra_assessment_solar_plexus_description") }} {{
ckeditor.config(name="chakra_assessment_heart_description") }} {{
ckeditor.config(name="chakra_assessment_throat_description") }} {{
ckeditor.config(name="chakra_assessment_third_eye_description") }} {{
ckeditor.config(name="chakra_assessment_crown_description") }} {{
ckeditor.config(name="visit_notes") }} {{
ckeditor.config(name="post_visit_recommendations") }}
<!-- End CKEditor -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

<script type="text/javascript">
  var gChakraLabels = {{ chakra_graph_labels | tojson }};
  var gChakraData = {{ chakra_graph_data | tojson }};

  var ctx = document.getElementById("caGraph").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: gChakraLabels,
      datasets: [
        {
          label: "Root Score",
          data: gChakraData.map((item) => item["Root Score"]),
          borderWidth: 2,
          backgroundColor: "#6259ca",
          borderColor: "#6259ca",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Sacral Score",
          data: gChakraData.map((item) => item["Sacral Score"]),
          borderWidth: 2,
          backgroundColor: "#eb6f33",
          borderColor: "#eb6f33",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Solar Plexus Score",
          data: gChakraData.map((item) => item["Solar Plexus Score"]),
          borderWidth: 2,
          backgroundColor: "#00bcd4",
          borderColor: "#00bcd4",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Heart Score",
          data: gChakraData.map((item) => item["Heart Score"]),
          borderWidth: 2,
          backgroundColor: "#4caf50",
          borderColor: "#4caf50",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Throat Score",
          data: gChakraData.map((item) => item["Throat Score"]),
          borderWidth: 2,
          backgroundColor: "#ff9800",
          borderColor: "#ff9800",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Third Eye Score",
          data: gChakraData.map((item) => item["Third Eye Score"]),
          borderWidth: 2,
          backgroundColor: "#9c27b0",
          borderColor: "#9c27b0",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
        {
          label: "Crown Score",
          data: gChakraData.map((item) => item["Crown Score"]),
          borderWidth: 2,
          backgroundColor: "#607d8b",
          borderColor: "#607d8b",
          borderWidth: 2.0,
          pointBackgroundColor: "#ffffff",
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        display: true,
      },
      legend: {
        labels: {
          fontColor: "#77778e",
        },
      },
    },
  });
</script>
{% endblock content %}
