{% extends "base_login.html" %} {% block form %}
<form method="post" class="login100-form" novalidate>
  {{ form.hidden_tag() }}
  <div class="text-center">
    <img
      src="{{ url_for('static', filename='assets/images/brand/logo.png') }}"
      class="header-brand-img"
      alt=""
    />
  </div>
  <br />
  <span class="login100-form-title"> Forgot Password - Short Code </span>
  <div class="form-group">
    {{ form.short_code.label() }} {% if form.short_code.errors %} {{
    form.short_code(class="form-control is-invalid") }} {% for error in
    form.short_code.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %} {% else %} {{ form.short_code(class="form-control") }} {% endif
    %}
  </div>
  {{ form.submit(class="login100-form-btn btn-primary") }}
</form>
{% endblock form %}
