{% extends "base_support.html" %} {% block pagenav %}
<h1 class="page-title">Support</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/support">Support</a></li>
  <li class="breadcrumb-item"><a href="/support">Practices</a></li>
  <li class="breadcrumb-item active" aria-current="page">Add Practice</li>
</ol>
{% endblock %} {% block content %}
<!-- Practice Info -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add New Practice</h4>
      </div>
      <div class="card-body">
        <form method="post" class="" novalidate>
          {{ form.hidden_tag() }}
          <div class="">
            <div class="form-group">
              {{ form.name.label() }} {% if form.name.errors %} {{
              form.name(class="form-control is-invalid") }} {% for error in
              form.name.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.name(class="form-control") }} {%
              endif %}
            </div>
            <div class="form-group">
              {{ form.biography.label() }} {% if form.biography.errors %} {{
              form.biography(class="form-control is-invalid") }} {% for error in
              form.biography.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.biography(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.address_1.label() }} {% if form.address_1.errors %} {{
              form.address_1(class="form-control is-invalid") }} {% for error in
              form.address_1.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.address_1(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.address_2.label() }} {% if form.address_2.errors %} {{
              form.address_2(class="form-control is-invalid") }} {% for error in
              form.address_2.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.address_2(class="form-control") }}
              {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6 mb-6">
                {{ form.city.label() }} {% if form.city.errors %} {{
                form.city(class="form-control is-invalid") }} {% for error in
                form.city.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} {% else %} {{ form.city(class="form-control") }} {%
                endif %}
              </div>
              <div class="col-md-6 mb-6">
                {{ form.state.label() }} {% if form.state.errors %} {{
                form.state(class="form-control select2 form-select is-invalid")
                }} {% for error in form.state.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} {% else %} {{ form.state(class="form-control
                select2 form-select") }} {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ form.zipcode.label() }} {% if form.zipcode.errors %} {{
              form.zipcode(class="form-control is-invalid") }} {% for error in
              form.zipcode.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.zipcode(class="form-control") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.email.label() }} {% if form.email.errors %} {{
              form.email(class="form-control is-invalid") }} {% for error in
              form.email.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.email(class="form-control") }} {%
              endif %}
            </div>
            <div class="form-group">
              {{ form.website.label() }} {% if form.website.errors %} {{
              form.website(class="form-control is-invalid") }} {% for error in
              form.website.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.website(class="form-control") }}
              {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6 mb-6">
                {{ form.phone_number.label() }} {% if form.phone_number.errors
                %} {{ form.phone(class="form-control is-invalid") }} {% for
                error in form.phone_number.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} {% else %} {{
                form.phone_number(class="form-control") }} {% endif %}
              </div>
              <div class="col-md-6 mb-6">
                {{ form.phone_type.label() }} {% if form.phone_type.errors %} {{
                form.phone_type(class="form-control select2 form-select
                is-invalid") }} {% for error in form.phone_type.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} {% else %} {{ form.phone_type(class="form-control
                select2 form-select") }} {% endif %}
              </div>
            </div>
            <div class="form-group">
              {{ form.status.label() }} {% if form.status.errors %} {{
              form.status(class="form-control is-invalid") }} {% for error in
              form.status.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %} {% else %} {{ form.status(class="form-control") }} {%
              endif %}
            </div>
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Practice Info -->
{% endblock %}
