{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Add Visit Notes</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ url_for('billing.ledger') }}">Billing</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Add New Charge</li>
</ol>
{% endblock pagenav %} {% block content %}
<!-- Patient Info -->
<div class="row" id="user-profile">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="wideget-user">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-xl-6">
              <div class="wideget-user-desc d-sm-flex">
                <div class="wideget-user-img">
                  <img
                    class=""
                    src="{{ url_for('static', filename='assets/images/users/8.jpg') }}"
                    alt="img"
                  />
                </div>
                <div class="user-wrap">
                  <h4>
                    {% if person.status == 'Inactive' %} {% if
                    person.middle_name == '' and person.suffix_name == '' %} {{
                    person.first_name }} {{ person.last_name }}
                    <span class="text-danger">({{ person.status }})</span>
                    {% elif person.suffix_name == '' %} {{ person.first_name }}
                    {{ person.middle_name }} {{ person.last_name }} {% else %}
                    {{ person.first_name }} {{ person.middle_name }} {{
                    person.last_name }} {{ person.suffix_name }} {% endif %} {%
                    else %} {% if person.middle_name == '' and
                    person.suffix_name == '' %} {{ person.first_name }} {{
                    person.last_name }} {% elif person.suffix_name == '' %} {{
                    person.first_name }} {{ person.middle_name }} {{
                    person.last_name }} {% else %} {{ person.first_name }} {{
                    person.middle_name }} {{ person.last_name }} {{
                    person.suffix_name }} {% endif %} {% endif %}
                  </h4>
                  <h6 class="text-muted mb-3">
                    {% if person.address_1 == None or person.address_1 == '' %}
                    <span></span>
                    {% elif person.address_2 == None or person.address_2 == ''%}
                    <i class="fe fe-home"></i>
                    {{ person.address_1 }}, {{ person.city }}, {{ person.state
                    }} {{ person.zipcode }} {% else %}
                    <i class="fe fe-home"></i>
                    {{ person.address_1 }}, {{ person.address_2 }}, {{
                    person.city }}, {{ person.state }} {{ person.zipcode }} {%
                    endif %}
                  </h6>
                  <h6 class="text-muted mb-3">
                    <i class="fe fe-phone"></i>
                    {{ person.phone_number }} ({{ person.phone_type }})
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xl-6">
              <div class="text-xl-right mt-4 mt-xl-0">
                <a
                  href="{{ url_for('persons.editPerson', id=person.id) }}"
                  class="btn btn-primary"
                  ><i class="fe fe-edit"></i> Edit Profile</a
                >
              </div>
              <div class="mt-5">
                <div class="main-profile-contact-list float-md-end d-lg-flex">
                  <div class="me-5">
                    <div class="media">
                      <div class="media-icon bg-primary me-3 mt-1">
                        <i class="fe fe-edit-3 fs-20 text-white"></i>
                      </div>
                      <div class="media-body">
                        <span class="text-muted">Visit Notes</span>
                        <div class="fw-semibold fs-25">{{ notes_count }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="me-5 mt-5 mt-md-0">
                    <div class="media">
                      <div class="media-icon bg-success me-3 mt-1">
                        <i class="fe fe-credit-card fs-20 text-white"></i>
                      </div>
                      <div class="media-body">
                        <span class="text-muted">Open Balance</span>
                        <div class="fw-semibold fs-25">$ 8888.88</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Patient Info -->
<!-- Select Charge -->
<div class="row" id="select-charge">
  <div>
    <div>
      <h3 class="card-title mb-1">Select Charge</h3>
      <p class="text-muted card-sub-title">
        Select an existing practice charge.
      </p>
    </div>
    <div class="table-responsive">
      <table
        class="table table-bordered text-nowrap border-bottom w-100"
        id="basic-datatable"
      >
        <thead>
          <tr>
            <th class="wd-15p border-bottom-0">ID</th>
            <th class="wd-15p border-bottom-0">Code</th>
            <th class="wd-15p border-bottom-0">Name</th>
            <th class="wd-15p border-bottom-0">Description</th>
            <th class="wd-15p border-bottom-0">Amount</th>
            <th class="wd-5p border-bottom-0">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for c in practice_charges %}
          <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.code }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.description }}</td>
            <td>{{ c.amount }}</td>
            <td>
              <div class="btn-group">
                <a href="#" class="btn btn-primary badge" type="button"
                  ><i class="fe fe-plus"></i> Add Charge</a
                >
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End Select Charge -->
<!-- Add Charge -->
<div class="row" id="add-charge">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Charge</h4>
      </div>
      <div class="card-body">
        <form method="post" class="" novalidate>
          {{ form.hidden_tag() }}
          <div class="">
            <div class="row">
              {{ form.charge_id.label }}{{ form.charge_id(class="form-control", id="charge_id") }}
              {{ form.unit_amount.label }}{{ form.unit_amount(class="form-control", id="unit_amount") }}
              {{ form.units.label }}{{ form.units(class="form-control", id="charge_units") }}
              {{ form.tax_rate.label }}{{ form.tax_rate(class="form-control", id="tax_rate") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add Charge -->
{% endblock content %}
