{% extends "base.html" %}

{% block pagenav %}
<h1 class="page-title">Add Visit Notes</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('views.notes') }}">Visit Notes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Visit Note</li>
    </ol>
{% endblock pagenav %}

{% block content %}
<!-- Patient Info Header -->
<div class="row" id="user-profile">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="wideget-user">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xl-6">
                            <div class="wideget-user-desc d-sm-flex">
                                <div class="wideget-user-img">
                                    <img class="" src="{{ url_for('static', filename='assets/images/users/8.jpg') }}"
                                        alt="img">
                                </div>
                                <div class="user-wrap">
                                    <h4>
                                        {% if person.status == 'Inactive' %}
                                            {% if person.middle_name == '' and person.suffix_name == '' %}
                                            {{ person.first_name }} {{ person.last_name }} <span class="text-danger">({{ person.status }})</span>
                                            {% elif person.suffix_name == '' %}
                                            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
                                            {% else %}
                                            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} {{
                                            person.suffix_name }}
                                            {% endif %}
                                        {% else %}
                                            {% if person.middle_name == '' and person.suffix_name == '' %}
                                            {{ person.first_name }} {{ person.last_name }}
                                            {% elif person.suffix_name == '' %}
                                            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
                                            {% else %}
                                            {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} {{
                                            person.suffix_name }}
                                            {% endif %}
                                        {% endif %}
                                    </h4>
                                    <h6 class="text-muted mb-3">
                                        {% if person.address_1 == None or person.address_1 == '' %}
                                            <span></span>
                                        {% elif person.address_2 == None or person.address_2 == ''%}
                                            <i class="fe fe-home"></i>
                                            {{ person.address_1 }}, {{ person.city }}, {{ person.state }} {{ person.zipcode }}
                                        {% else %}
                                            <i class="fe fe-home"></i>
                                            {{ person.address_1 }}, {{ person.address_2 }}, {{ person.city }}, {{ person.state }} {{ person.zipcode }}
                                        {% endif %}
                                    </h6>
                                    <h6 class="text-muted mb-3">
                                        <i class="fe fe-phone"></i>
                                        {{ person.phone_number }} ({{ person.phone_type }})
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xl-6">
                            <div class="text-xl-right mt-4 mt-xl-0">
                                <a href="{{ url_for('views.editPerson', id=person.id) }}" class="btn btn-primary"><i class="fe fe-edit"></i> Edit Profile</a>
                            </div>
                            <div class="mt-5">
                                <div class="main-profile-contact-list float-md-end d-lg-flex">
                                    <div class="me-5">
                                        <div class="media">
                                            <div class="media-icon bg-primary  me-3 mt-1">
                                                <i class="fe fe-edit-3 fs-20 text-white"></i>
                                            </div>
                                            <div class="media-body">
                                                <span class="text-muted">Visit Notes</span>
                                                <div class="fw-semibold fs-25">
                                                    ###
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="me-5 mt-5 mt-md-0">
                                        <div class="media">
                                            <div class="media-icon bg-success me-3 mt-1">
                                                <i class="fe fe-credit-card  fs-20 text-white"></i>
                                            </div>
                                            <div class="media-body">
                                                <span class="text-muted">Open Balance</span>
                                                <div class="fw-semibold fs-25">
                                                    $ 8888.88
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Patient Info Header -->
<!--Visit Note Form-->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-0">
                <div class="card-title">
                    Vertical Orientation Wizard
                </div>
            </div>
            <div class="card-body">
                <div id="wizard3">
                    <h3>Personal Information</h3>
                    <section>
                        <div class="control-group form-group">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control required" placeholder="Name">
                        </div>
                        <div class="control-group form-group">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control required" placeholder="Email Address">
                        </div>
                        <div class="control-group form-group">
                            <label class="form-label">Phone Number</label>
                            <input type="number" class="form-control required" placeholder="Number">
                        </div>
                        <div class="control-group form-group mb-0">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control required" placeholder="Address">
                        </div>
                    </section>
                    <h3>Billing Information</h3>
                    <section>
                        <div class="table-responsive mg-t-20">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Cart Subtotal</td>
                                        <td class="text-end">$792.00</td>
                                    </tr>
                                    <tr>
                                        <td><span>Totals</span></td>
                                        <td class="text-end text-muted"><span>$792.00</span></td>
                                    </tr>
                                    <tr>
                                        <td><span>Order Total</span></td>
                                        <td><h2 class="price text-end mb-0">$792.00</h2></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <h3>Payment Details</h3>
                    <section>
                        <div class="form-group">
                            <label class="form-label" >Card Holder Name</label>
                            <input type="text" class="form-control" id="name12" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Card number</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-text btn btn-info shadow-none">
                                    <i class="fa fa-cc-visa"></i> &nbsp; <i class="fa fa-cc-amex"></i> &nbsp;
                                    <i class="fa fa-cc-mastercard"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group mb-sm-0">
                                    <label class="form-label">Expiration</label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="MM" name="expiremonth">
                                        <input type="number" class="form-control" placeholder="YY" name="expireyear">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="form-group mb-0">
                                    <label class="form-label">CVV <i class="fa fa-question-circle"></i></label>
                                    <input type="number" class="form-control" required="">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Visit Note Form -->
{% endblock content %}