<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1">

    <!-- Picnic CSS (https://picnicss.com/) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <title>{% block title %}Soulstone{% endblock %}</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <a href="/" class="brand">
        <img class="logo" src="#" />
        <span>Soulstone</span>
      </a>

      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">&#9776;</label>

      <div class="menu">
        <a href="/login" class="button">Login</a>
      </div>
    </nav>

    <!-- Static JS -->
    <script type="text/javascript" src="{{ url_for('static', filename=
    'index.js') }}">
    </script>
  </body>
</html>
