{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Calendar</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Calendar</li>
</ol>
{% endblock pagenav %} {% block content %}
<!-- Start Add Event Link -->
<div class="">
  <a
    href="{{ url_for('calendar.addEvent')}}"
    class="btn btn-primary btn-icon text-white me-2"
  >
    <span>
      <i class="fe fe-calendar"></i>
    </span>
    Add New Event
  </a>
</div>
<br />
<!-- End Add Event Link -->
<!-- Start Calendar -->
<div class="row row-sm">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="card-title mb-1">Events</h3>
          <p class="text-muted card-sub-title">
            List of records for all the events at your practice.
          </p>
        </div>
        <div class="table-responsive">
          <table
            class="table table-bordered text-nowrap border-bottom w-100"
            id="responsive-datatable"
          >
            <thead>
              <tr>
                <th class="border-bottom-0">Start Date and Time</th>
                <th class="border-bottom-0">End Date and Time</th>
                <th class="border-bottom-0">Person</th>
                <th class="border-bottom-0">Event Type</th>
                <th class="border-bottom-0">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for e in events %}
              <tr>
                <td>{{ e.start_date }} {{ e.start_time }}</td>
                <td>{{ e.end_date }} {{ e.end_time }}</td>
                <td>
                  {% if e.middle_name == '' and p.suffix_name == '' %} {{
                  e.last_name }}, {{ e.first_name }} {% elif e.suffix_name == ''
                  %} {{ e.last_name }}, {{ e.first_name }} {{ e.middle_name }}
                  {% else %} {{ e.last_name }} {{ e.suffix_name }}, {{
                  e.first_name }} {{ e.middle_name }} {% endif %}
                </td>
                <td>{{ e.event_name }}</td>
                <td>
                  <div class="btn-group">
                    <a href="#" class="btn btn-primary badge" type="button"
                      ><i class="fe fe-eye"></i> View</a
                    >
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Calendar -->
{% endblock content %}
