{% extends "base_login.html" %}

{% block form %}
<form method="post" class="login100-form validate-form">
	<div class="text-center">
		<img src="{{ url_for('static', filename='assets/images/brand/logo.png') }}" class="header-brand-img" alt="">
	</div>
	<br>
	<span class="login100-form-title">
		Login
	</span>
	<div class="form-group">
		<label for="email">Email *</label>
		<input type="email" class="form-control" id="email" name="email" required>
		<div class="invalid-feedback">Required</div>
	</div>
	<div class="form-group">
		<label for="password">Password *</label>
		<input type="password" class="form-control" id="password" name="password" required>
		<div class="invalid-feedback">Required</div>
	</div>
	<div class="row">
		<div class="col-md-6 mb-6">
			<button class="login100-form-btn btn-primary" type="submit">Login</button>
		</div>
		<div class="col-md-6 mb-6 text-end">
			<a href="/reset_request" class="btn btn-outline-primary">Forgot Password</a>
		</div>
	</div>
</form>
{% endblock form %}