{% extends "base.html" %}

{% block pagenav %}
<h1 class="page-title">
    {% if person.middle_name == '' and person.suffix_name == '' %}
    {{ person.first_name }} {{ person.last_name }}
    {% elif person.suffix_name == '' %}
    {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
    {% else %}
    {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} {{ person.suffix_name }}
    {% endif %}
</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('views.people')}}">People</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ person.id }}</li>
</ol>
{% endblock pagenav %}

{% block content %}
<!-- ROW-1 OPEN -->
<div class="row" id="user-profile">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="wideget-user">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xl-6">
                            <div class="wideget-user-desc d-sm-flex">
                                <div class="wideget-user-img">
                                    <img class="" src="{{ url_for('static', filename='assets/images/users/8.jpg') }}"
                                        alt="img">
                                </div>
                                <div class="user-wrap">
                                    <h4>
                                        {% if person.middle_name == '' and person.suffix_name == '' %}
                                        {{ person.first_name }} {{ person.last_name }}
                                        {% elif person.suffix_name == '' %}
                                        {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}
                                        {% else %}
                                        {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} {{
                                        person.suffix_name }}
                                        {% endif %}
                                    </h4>
                                    <h6 class="text-muted mb-3">
                                        {% if person.address_2 == '' %}
                                            {{ person.address_1 }}<br>{{ person.city }}, {{ person.state }} {{ person.zipcode }}
                                        {% else %}
                                            {{ person.address_1 }}<br>{{ person.address_2 }}<br>{{ person.city }}, {{ person.state }} {{ person.zipcode }}
                                        {% endif %}
                                    </h6>
                                    <h6 class="text-muted mb-3">
                                        {{ person.phone_number }} ({{ person.phone_type }})
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xl-6">
                            <div class="text-xl-right mt-4 mt-xl-0">
                                <a href="#" class="btn btn-primary">Edit Profile</a>
                            </div>
                            <div class="mt-5">
                                <div class="main-profile-contact-list float-md-end d-lg-flex">
                                    <div class="me-5">
                                        <div class="media">
                                            <div class="media-icon bg-primary  me-3 mt-1">
                                                <i class="fe fe-edit-3 fs-20 text-white"></i>
                                            </div>
                                            <div class="media-body">
                                                <span class="text-muted">Visit Notes</span>
                                                <div class="fw-semibold fs-25">
                                                    ###
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="me-5 mt-5 mt-md-0">
                                        <div class="media">
                                            <div class="media-icon bg-success me-3 mt-1">
                                                <i class="fe fe-credit-card  fs-20 text-white"></i>
                                            </div>
                                            <div class="media-body">
                                                <span class="text-muted">Open Balance</span>
                                                <div class="fw-semibold fs-25">
                                                    $ 8888.88
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <div class="wideget-user-tab">
                    <div class="tab-menu-heading">
                        <div class="tabs-menu1">
                            <ul class="nav">
                                <li class=""><a href="#profile" class="active show" data-bs-toggle="tab">Profile</a></li>
                                <li><a href="#visitnotes" data-bs-toggle="tab" class="">Visit Notes</a></li>
                                <li><a href="#billing" data-bs-toggle="tab" class="">Billing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active show" id="profile">
                <div id="profile-log-switch">
                    <div class="card">
                        <div class="card-body">
                            <div class="media-heading">
                                <h5><strong>Personal Information</strong></h5>
                            </div>
                            <div class="table-responsive ">
                                <table class="table row table-borderless">
                                    <tbody class="col-lg-12 col-xl-6 p-0">
                                        <tr>
                                            <td><strong>Full Name :</strong> Elizabeth Dyer</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Location :</strong> USA</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Languages :</strong> English, German, Spanish.</td>
                                        </tr>
                                    </tbody>
                                    <tbody class="col-lg-12 col-xl-6 p-0">
                                        <tr>
                                            <td><strong>Website :</strong> abcdz.com</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email :</strong> georgemestayer@abcdz.com</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone :</strong> +125 254 3562 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media-heading">
                                        <h5><strong>Biography</strong></h5>
                                    </div>
                                    <p class="mb-0">
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                                        minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                                        omnis dolor repellendus because it is pleasure, but because those who do not know how to
                                        pursue pleasure rationally encounter but because those who do not know how to
                                        pursue consequences that are extremely painful. Nor again is there anyone who
                                        loves or pursues or desires to obtain pain of itself, because it is pain, but
                                        because occasionally circumstances occur in which toil and pain can procure him
                                        some great pleasure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="visitnotes">
            </div>
            <div class="tab-pane" id="billing">
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->
{% endblock content %}