{% extends "base_login.html" %}

{% block form %}
<form method="post" class="needs-validation" novalidate>
	<div class="text-center">
		<img src="{{ url_for('static', filename='assets/images/brand/logo.png') }}" class="header-brand-img" alt="">
	</div>
	<br>
	<span class="login100-form-title">
		Register
	</span>
	<div class="form-group">
		<label for="email">Email *</label>
		<input type="email" class="form-control" id="email" name="email" required>
		<div class="invalid-feedback">Required</div>
	</div>
	<div class="form-row">
		<div class="col-md-6 mb-3">
			<label for="firstname">First Name *</label>
			<input type="text" class="form-control" id="firstname" name="firstname" required>
			<div class="invalid-feedback">Required</div>
		</div>
		<div class="col-md-6 mb-3">
			<label for="lastname">Last Name *</label>
			<input type="text" class="form-control" id="lastname" name="lastname" required>
			<div class="invalid-feedback">Required</div>
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password *</label>
		<input type="password" class="form-control" id="password" name="password" required>
		<div class="invalid-feedback">Required</div>
	</div>
	<div class="form-group">
		<label for="password_repeat">Repeat Password *</label>
		<input type="password" class="form-control" id="password_repeat" name="password_repeat" required>
		<div class="invalid-feedback">Required</div>
	</div>
	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="agree" name="agree" required>
			<label class="form-check-label" for="agree">Agree to <a href="#">terms and policy</a></label>
			<div class="invalid-feedback">You must agree before submitting.</div>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Register Account</button>
</form>
{% endblock form %}
