{% extends "base_support.html" %}

{% block title %}SoulStone - Support App{% endblock %}

{% block pagenav %}
<h1 class="page-title">Empty</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Empty</li>
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add New Practice</div>
            </div>
            <div class="card-body">
                <p class="">Adds a new practice</p>
                <a href="#" class="btn btn-primary">Add New Practice</a>
            </div>
        </div>
    </div><!-- COL END -->
</div>
{% endblock %}