{%extends "base_support.html"%} {%block pagenav%}
<h1 class="page-title">Support</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Support</a></li>
  <li class="breadcrumb-item">
    <a href="#">Terms of Service</a>
  </li>
</ol>
{%endblock pagenav%} {%block content%}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="card-title mb-1">Terms of Service - User Agreements</h3>
          <p class="text-muted card-sub-title">List of all User Agreements</p>
        </div>
        <div class="table-responsive">
          <table
            class="table table-bordered text-nowrap border-bottom w-100"
            id="responsive-datatable"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Version</th>
                <th>Active Date</th>
                <th>Sunset Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {%for t in tos%}
              <tr>
                <td>{{t.id}}</td>
                <td>{{t.version}}</td>
                <td>{{t.active_date.strftime('%Y-%m-%d')}}</td>
                <td>{{t.sunset_date.strftime('%Y-%m-%d')}}</td>
                <td>
                  <a
                    href="{{url_for('terms_of_service.support_view_tos', tos_id=t.id)}}"
                    class="btn btn-primary badge"
                    type="button"
                    ><i class="fe fe-eye"></i> View</a
                  >
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content%}
