{%extends "base_login.html"%} {%block form%}
<form method="post" class="login100-form" novalidate>
  {{form.hidden_tag()}}
  <div class="text-center">
    <img
      src="{{url_for('static', filename='assets/images/brand/logo.png')}}"
      class="header-brand-img"
      alt=""
    />
  </div>
  <br />
  <span class="login100-form-title">User Agreement</span>
  <div class="form-group">
    {% if agreement_content.content %}
    <p>{{agreement_content.content}}</p>
    {% else %}
    <h2>Terms of Service Agreement</h2>
    <h3>User Responsibilities</h3>
    <p>
      1.1. Acceptable Use: User agrees to use the Application in a lawful and
      responsible manner and to comply with all applicable laws and regulations.
    </p>
    <p>
      1.2. Account Security: User is responsible for maintaining the security of
      their account credentials and ensuring that unauthorized access does not
      occur.
    </p>
    <p>
      1.3. User Content: User acknowledges that they are solely responsible for
      any content they upload, submit, or transmit through the Application and
      that such content complies with applicable laws and regulations.
    </p>
    <h3>Intellectual Property</h3>
    <p>
      2.1. Ownership: The Application and all associated intellectual property
      rights belong to the Company. User acknowledges that they do not acquire
      any ownership rights by using the Application.
    </p>
    <p>
      2.2. License: The Company grants User a limited, non-exclusive,
      non-transferable license to use the Application for its intended purpose.
    </p>
    <h3>Privacy</h3>
    <p>
      3.1. Data Collection: User acknowledges and agrees that the Company may
      collect and process certain personal data as outlined in the Privacy
      Policy.
    </p>
    <p>
      3.2. Cookies: The Application may use cookies or similar technologies to
      enhance the User experience. By using the Application, User consents to
      the use of cookies in accordance with our Cookie Policy.
    </p>
    <h3>Limitation of Liability</h3>
    <p>
      4.1. Disclaimer: The Application is provided on an "as is" and "as
      available" basis, without warranties of any kind, either expressed or
      implied. The Company disclaims all warranties, including but not limited
      to, fitness for a particular purpose, non-infringement, and accuracy of
      information.
    </p>
    <p>
      4.2. Indemnification: User agrees to indemnify and hold the Company
      harmless from any claims, damages, liabilities, and expenses arising out
      of their use of the Application or violation of this Agreement.
    </p>
    <h3>Termination</h3>
    <p>
      5.1. Termination Rights: The Company reserves the right to suspend or
      terminate User's access to the Application at any time, with or without
      cause, and without prior notice.
    </p>
    <h3>Governing Law</h3>
    <p>
      6.1. Jurisdiction: This Agreement shall be governed by and construed in
      accordance with the laws of the United States of America. Any disputes
      arising from this Agreement shall be subject to the exclusive jurisdiction
      of the courts in the United States of America.
    </p>
    <br />
    <p>
      Please read this Agreement carefully before using the Application. By
      accessing or using the Application, you acknowledge that you have read,
      understood, and agree to be bound by this Agreement.
    </p>
    {% endif %}
  </div>
  {{form.submit(class="btn btn-primary")}}
  <a href="{{url_for('users.logout')}}" class="btn btn-secondary">Cancel</a>
</form>
{%endblock form%}
