{% extends "base.html" %} {%block pagenav%}
<h1 class="page-title">Release Notes</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Release Notes</li>
</ol>
{%endblock pagenav%} {% block content %} {% for rn in release_notes %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      Release Notes -
      <strong>{{ rn.release_note_date.strftime('%Y-%m-%d') }}</strong>
    </h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{ rn.release_note_content|safe }}</p>
  </div>
</div>
{% endfor %} {% endblock content %}
