{% extends "base.html" %} {%block pagenav%}
<h1 class="page-title">Release Notes</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Release Notes</li>
</ol>
{%endblock pagenav%} {% block content %} {% for rn in release_notes %}
<div class="card">
  <div class="card-header bg-primary br-tr-3 br-tl-3">
    <h3 class="card-title text-white">
      Release Notes - {{ rn.release_note_date.strftime('%Y-%m-%d') }}
    </h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"
        ><i class="fe fe-chevron-up text-white"></i
      ></a>
    </div>
  </div>
  <div class="card-body">{{ rn.release_note_content|safe }}</div>
</div>
{% endfor %} {% endblock content %}
