{% extends "base.html" %} {% block pagenav %}
<h1 class="page-title">Settings</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item" aria-current="page">
    <a href="{{ url_for('settings.practiceUsers') }}">Event Types</a>
  </li>
</ol>
{% endblock pagenav %} {% block content %}
<!-- Add Practice User -->
<div class="">
  <a
    href="{{ url_for('settings.addPracticeUser') }}"
    class="btn btn-primary btn-icon text-white me-2"
  >
    <span>
      <i class="fe fe-plus"></i>
    </span>
    Add New Practice User
  </a>
</div>
<br />
<!-- End Add Practice User -->
<!-- Row -->
<div class="row row-sm">
  <div class="col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h3 class="card-title mb-1">Practice Users</h3>
          <p class="text-muted card-sub-title">
            List of users for the practice.
          </p>
        </div>
        <div class="table-responsive">
          <table
            data-order='[[ 1, "asc" ]]'
            class="table table-bordered border-bottom w-100"
            id="responsive-datatable"
          >
            <thead>
              <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>User Type</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td class="align-middle text-center">
                  <img
                    alt="image"
                    class="avatar avatar-md br-7"
                    src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}"
                  />
                </td>
                <td>
                  {% if user.middle_name and user.suffix_name %} {{
                  user.first_name }} {{ user.middle_name }} {{ user.last_name }}
                  {{ user.suffix_name }} {% elif user.middle_name %} {{
                  user.first_name }} {{ user.middle_name }} {{ user.last_name }}
                  {% elif user.suffix_name %} {{ user.first_name }} {{
                  user.last_name }} {{ user.suffix_name }} {% else %} {{
                  user.first_name }} {{ user.last_name }} {% endif %}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{user.role}}</td>
                <td>{{user.user_type}}</td>
                <td>{{ user.status }}</td>
                <td>
                  <a
                    href="{{ url_for('settings.editPracticeUser', user_id=user.id) }}"
                    class="btn btn-primary badge"
                    type="button"
                    ><i class="fe fe-edit"></i> Edit</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->
{% endblock content %}
